.test {
    width: 100px;
    height: 100px;
    background-color: red;
}
.child {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.child2 {
    width: 100px;
    height: 100px;
    background-color: green;
}